Flask==3.0.2
gunicorn==21.2.0
psycopg2-binary==2.9.9
SQLAlchemy==2.0.28
requests==2.31.0
beautifulsoup4==4.12.3
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.6.1
python-dotenv==1.0.1
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
blinker==1.9.0
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
MarkupSafe==3.0.2
packaging==24.2
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.15.2
six==1.17.0
soupsieve==2.6
threadpoolctl==3.6.0
typing_extensions==4.13.0
tzdata==2025.2
urllib3==2.3.0
Werkzeug==3.1.3
